---
import Card from "../components/Card.tsx";
import NavBar from "../components/NavBar.tsx";
---

<body>
    <NavBar></NavBar>

    <h1>About Me</h1>
    <h2>... and my new Astro site!</h2>
    <Card></Card>
    <p>I am working on the tutorial</p>
</body>

