---
import Card from "../components/Card.tsx";
import NavBar from "../components/NavBar.tsx";
---

<body>
    <NavBar></NavBar>

    <h1>Blog</h1>
    <p>I am posting about my learning process</p>
</body>

